<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"><channel><title>Blog-O! (Posts about spring)</title><link>https://bwinton.github.io/weblog.latte.ca/</link><description></description><atom:link rel="self" href="https://bwinton.github.io/weblog.latte.ca/tags/spring.xml" type="application/rss+xml"></atom:link><language>en</language><lastBuildDate>Sat, 13 Apr 2019 21:03:16 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Spring</title><link>https://bwinton.github.io/weblog.latte.ca/amy/houseandhome/garden/spring/</link><dc:creator>Amy Brown</dc:creator><description>&lt;p&gt;
Spring has arrived with an unlikely two sunny warm days
in a row, over a weekend!  We celebrated by playing in 
the muck.  We raked most of last fall's leaves off the
front and back lawns, and I cleared off and weeded 
some of the north border in the backyard.  I pulled
out about a ton of 
&lt;a href="http://en.wikipedia.org/wiki/Glechoma_hederacea"&gt;creeping
charlie&lt;/a&gt;, which is surprisingly satisfying to uproot
when the ground is soft;
you can get hold of a bit without breaking the stem 
and then reel in about a foot of plant and roots, like
a magician pulling scarves out of a hat.
&lt;/p&gt;
&lt;p&gt;
We also uprooted some of the many raspberries, and I cleaned
out some of the raspberry patch.  There are dozens of plants
there and it's hard to get the leaves and twigs and weeds
out from between them, to say nothing of trimming out the
dead canes, pulling out the millions of little suckers, 
and removing the raccoon poop.
I think the smart thing to do with the raspberry patch will
be to thin it out as well as reduce its overall footprint.
The previous owners must have really like raspberries.
&lt;/p&gt;
&lt;p&gt;
There are lots of little things growing, but the only things
flowering yet are crocuses.  I'm not sure what the other
things are so I'm looking forward to their flowers.  Some
tulips I planted last fall are coming up in the front yard;
Delphine is very excited about that because she helped me
plant them.
&lt;/p&gt;
&lt;p&gt;
Perhaps the most remarkable accomplishment this week was that
Blake built a frame for our 
&lt;a href="http://www.squarefootgardening.com/"&gt;Square Foot Garden&lt;/a&gt;.
That's a technique for vegetable gardening whereby you plant
your entire garden in one (or more) four-by-four foot squares.
We picked out the spot for the garden and Blake was poking 
around in the shed and found four perfect four-and-a-half foot
planks, which he screwed together into a frame to delineate
and protect the garden.  I say this casually, as if Blake
screws things together to make other things all the time, but
if you know Blake you know that just isn't so.  He is not 
what you might call "handy".  However, he made a perfectly
lovely frame without swearing or drawing blood, so I think
he might be handier than either of us suspected.  The frame
is gracing our garden and waiting patiently for some nice
compost and lots of seeds.
&lt;/p&gt;</description><category>garden</category><category>spring</category><guid>https://bwinton.github.io/weblog.latte.ca/amy/houseandhome/garden/spring/</guid><pubDate>Mon, 07 Apr 2008 18:48:55 GMT</pubDate></item></channel></rss>